.container {
    width: 960px;
    margin: auto;
}
.main {    
    width: 100%;
    background:teal;
    display: flex;
    flex-direction: row;
    color:#ffffff;  
}

.links {
    margin-left: auto;
    color:#ffffff;
}

.body {
    background: #ffffff;
    border: #dddddd;
}

h1 {
    color:#ffffff;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.Box1 {
    width: 960px;
    background-color: #ffffff;
    text-align: center;
    color: teal;
}

.footer {
    width: 100%;
    background:teal;
    text-align: center;
}